{% extends "base.html" %}

{% block head %}
<title>Pokémon Near You</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}"/>
{% endblock %}

{% block content %}
<h1>Pokémon Near You</h1>
<div id="enroll_container">
  <div class="enroll_step">
    <p><span class="enroll_step_number">1.</span><a href="{{url_for('locations') }}">Find your location</a> to see if it's supported!</p>
    <p>If it's not, and you would like to become a city champion, send a
    request to pokemonnearyou+champs@gmail.com</p>
  </div>

  <div class="enroll_step">
    <p><span class="enroll_step_number" id="second_step">2.</span> Send us the
    location you want to monitor. On iOS only, you must send an initial message
    before a location can be sent</p>
    <div id="enroll_buttons">
      <button id="enroll_android_button" class="enroll button lg">Android</button>
      <button id="enroll_ios_button" class="enroll button lg">iOS</button>
    </div>
    <div id="enroll_options" class="image_container">
      <div id="enroll_android" class="enroll_option active">
        <img class="image" src="{{ url_for('static', filename='images/android_loc.gif') }}"/>
      </div>
      <div id="enroll_ios" class="enroll_option">
        <img class="image" src="{{ url_for('static', filename='images/ios_loc.gif') }}"/>
      </div>
    </div>
  </div>

  <div class="enroll_step">
    <p><span class="enroll_step_number">3.</span>Follow the prompt in the
    response you will receive.</p>
  </div>

  <div class="enroll_step">
    <p><span class="enroll_step_number">4.</span>???</p>
  </div>
  <div class="enroll_step">
    <p><span class="enroll_step_number">5.</span>Profit</p>
    <div class="image_container">
      <img class="image" src="{{ url_for('static', filename='images/profit.png') }}"/>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
{% endblock %}
