{% extends "base.html" %}

{% block head %}
    <title>pnu Locations</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/locations.css') }}">
{% endblock %}

{% block content %}
<h1>Locations Available</h1>

<p>To quickly find your location, use <kbd>ctrl</kbd>/<kbd>cmd</kbd> + <kbd>f</kbd></p>

<table id="locations">
  <tr>
    <th>State</th>
    <th>City</th>
    <th>Email</th>
  </tr>
</table>

<script src="{{ url_for('static', filename='scripts/locations.js') }}"></script>
{% endblock %}

{% block footer %}
<!-- nothing to see here yet -->
{% endblock %}
